<!DOCTYPE html>
<html>
  <head>
    <title>Neth's App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <a href={{ url_for('news') }} > News </a>
    <div class="container">
      {% for arc in news %}
      <p> Content - {{ arc['news'] }}
        <form action={{ url_for('delete', newsid=arc['newsid']) }} method="DELETE"> 
          <input type="submit" value="Delete this">
        </form>
      <p>
      {% endfor %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
